<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate= "~{admin/layout/layout}">
<head>
	<meta charset="utf-8"> 
	<title>Categorie</title>
</head>
	<body>
		<div layout:fragment="content">
			<div class="contentheader border-bottom">
				<h2>Créer Une Categorie</h2>
				
		   </div>
		          <form action="" th:action="@{/categorie/save}" method="post" th:object= "${categorie}">
		          <div class= "form-row mb-3">
			          <label class = "form-label">Nom*</label>
			          <input class = "form-control" type="text" placeholder="Nom" th:field="*{nom}">
			          <p class="alert alert-danger" th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}">Nom</p>
		          </div>
		          
		          <div>
			          <label class = "form-label">Description</label>
			          <input class = "form-control" type="text" placeholder="Description" th:field="*{description}">
		          </div>
		              <button type="submit" class="btn btn-primary">Envoyer</button>
		              <a th:href="@{/categorie/list}"  type="submit" class="btn btn-danger">Annuler</a>
		          </form>
		   
			</div>
		</body>
</html>