<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate= "~{admin/layout/layout}">
<head>
	<meta charset="utf-8"> 
	<title>Commande</title>
</head>
	<body>
		<div layout:fragment="content">
			<div class="contentheader border-bottom">
				<h2 name="center">Nouvelle Commande</h2>
		<form action="" th:action="@{/order/save}" method="post" th:object= "${order}">
		          <div class= "form-row mb-3">
			         <p>
		            <label>Select Customer</label>
		        </p>
		        <p>
		            <select name="user.id">
		                <option th:each="user : ${users}"
		                        th:value="${user.userId}"
		                        th:text="${user.prenom}">Client</option>
		            </select>
		        </p>
		          </div>
		          
		          <div class= "form-row mb-3">
			          <label class = "form-label">Date</label>
			          <input class = "form-control" type="text" placeholder="date" th:field="*{date}">
		          </div>
		          <div class= "form-row mb-3">
			          <label class = "form-label">Prix Toal</label>
			          <input class = "form-control" type="text" placeholder="Prix" th:field="*{totalPrice}">
			           <p class="alert alert-danger" th:if="${#fields.hasErrors('totalPrice')}" th:errors="*{price}">Prix total</p>
		          </div>
		          
		          
			              <div class= "form-row mb-3">
			              
					          <p>
		            <label>Chosir les produits</label>
		        </p>
		        <p>
		            <select name="lineItem[0].produit.id">
		                <option th:each="produit : ${produits}"
		                        th:value="${produit.id}"
		                        th:text="${produit.name}"></option>
		            </select>
		            <input type="text" name="lineItem[0].quantite" />
		        </p>
					          
				          </div>
		          
		         
		              <button type="submit" class="btn btn-primary">Envoyer</button>
		              <a th:href="@{/order/list}"  type="submit" class="btn btn-danger">Annuler</a>
		          </form>
		   
			</div>
				
		   </div>
		   </div>
		</body>
</html>