<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate= "~{admin/layout/layout}">
<head>
	<meta charset="utf-8"> 
	<title>produit</title>
</head>
	<body>
		<div layout:fragment="content">
			<div class="contentheader border-bottom">
				<h2 >Liste Des Produits </h2>
				<p> <a class="btn btn-success" th:href="@{/produit/new}">Nouveau</a></p>

              <div class="text-center">
				<form th:action="@{/produit/list}" method="get">
					Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
					&nbsp;
					<input type="submit" value="Search" />
					&nbsp;
					<input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
				</form>
			  </div>
		   </div>
		   <div>
				<div class="card-body">
					<table class="table table-striped">
					      <thead>
					        <tr>
					        	<th>Id</th> 
					        	<th>Nom</th>
					        	<th>Description</th>
					        	<th>Prix</th> 
					        	<th>Categorie</th>
					        	<th>Action</th>
					        	
					        </tr>
					      </thead>
					      <tbody>
					       		<tr th:each="produit : ${produitList}">
					       		 <td th:text="${produit.id}">Id</td>
					       			<td th:text="${produit.name}">Nom</td>
					       			<td th:text="${produit.description}">Description</td>
					       			<td th:text="${produit.price}">price</td>
					       			<td th:text="${produit.categorie.nom}">Categorie</td>
					       			
					       			<td>
					       			     <a th:href="@{/produit/edit/{id}(id=${produit.id})}" class= "text-primary">
					       			         <i class = "fas fa-pencil-alt"> </i> 
					       			     </a>
					       			     
					       			     <a th:href="@{/produit/delete/{id}(id=${produit.id})}" class= "text-danger"
					       			     onclick= "return confirm('Voulez vous vraiment supprimer?')">
					       			     
					       			         <i class = "fas fa-trash-alt"></i>
					       			     </a>
					       			</td>
					       			
					       		</tr>
					      </tbody>
					</table>
					
					<!--  <div  th:if="${totalPages > 1}" >-->
					<nav aria-label= "Navigation">
						<ul class="pagination justify-content-center flex-wrap">
							<li th:classappend="${pageCourante > 1 ? 'page-item': 'page-item disabled'}" >
								<a class="page-link" aria-label="Previous" th:if="${pageCourante > 1}"
								   th:href="@{'/produit/list/page/' + ${pageCourante -1}}"
								   th:text="'&laquo;'"></a>
								<span aria-hidden="true" th:unless="${pageCourante > 1}"></span>

							</li>
							<th:block th:if="${totalPages <= 10}">
								<li th:each="i : ${#numbers.sequence(1, totalPages)}"
									th:class="${pageCourante != i ? 'page-item': 'page-item active'}">
									<a th:href="@{'/produit/list/page/' + ${i}}" class="page-link">[[${i}]]</a>
								</li>
							</th:block>
							<th:block th:if="${totalPages > 10}">
								<th:block th:if="${pageCourante <= 5 || pageCourante > page.getTotalPages() - 4 }">
									<li th:each="i : ${#numbers.sequence(1, 5)}"
										th:class="${pageCourante != i ? 'page-item': 'page-item active'}">
										<a th:href="@{'/produit/list/page/' + ${i}}" class="page-link">[[${i}]]</a>
									</li>
									<a th:href="@{'/produit/list/page/' + 6}" class="page-link" th:text="${'...'}">...</a>
									<li th:each="i : ${#numbers.sequence(page.getTotalPages() - 4, totalPages)}"
										th:class="${pageCourante != i ? 'page-item': 'page-item active'}">
										<a th:href="@{'/produit/list/page/' + ${i}}" class="page-link">[[${i}]]</a>
									</li>

								</th:block>
								<th:block th:if="${pageCourante > 5 && pageCourante < page.getTotalPages() - 4}">
									<a th:href="@{'/produit/list/page/' + ${page.getNumber() - 4}}" class="page-link" th:text="${'...'}">...</a>
									<li th:each="i : ${#numbers.sequence(page.getNumber() - 4, page.getNumber() + 4)}"
										th:class="${pageCourante != i ? 'page-item': 'page-item active'}">
										<a th:href="@{'/produit/list/page/' + ${i}}" class="page-link">[[${i}]]</a>
									</li>

									<a th:href="@{'/produit/list/page/' + ${page.getNumber() + 5}}" class="page-link" th:text="${'...'}">...</a>
								</th:block>
							</th:block>
							<li th:classappend="${pageCourante < totalPages ? 'page-item': 'page-item disabled'}">
								<a class="page-link" aria-label="Next" th:if="${pageCourante < totalPages}"
								   th:href="@{'/produit/list/page/' + ${page.getNumber()  + 1}}"
								   th:text="'&raquo;'">&raquo;</a>
								<span aria-hidden="true" th:unless="${pageCourante < totalPages}"></span>
							</li>
							<li th:classappend="${pageCourante < totalPages ? 'page-item': 'page-item disabled'}">
								<a class="page-link" th:if="${pageCourante < totalPages}"
								   th:href="@{'/produit/list/page/' + ${totalPages}}"
								   th:text="Dernier">Dernier</a>
								<span th:unless="${pageCourante < totalPages}"></span>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			function clearSearch()
			{
				window.location = "[[@{/produit/list}]]";
			}
       </script>
	</body>
</html>