<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate= "~{admin/layout/layout}">
<head>
	<meta charset="utf-8"> 
	<title>Produit</title>
</head>
	<body>
		<div layout:fragment="content">
			<div class="contentheader border-bottom">
				<h2>Créer un produit</h2>
				
		   </div>
		          <form action="" th:action="@{/produit/save}" method="post" th:object= "${produit}">
		          <div class= "form-row mb-3">
			          <label class = "form-label">Nom*</label>
			          <input class = "form-control" type="text" placeholder="nom" th:field="*{name}">
			           <p class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Nom</p>
		          </div>
		          
		          <div class= "form-row mb-3">
			          <label class = "form-label">Description</label>
			          <input class = "form-control" type="text" placeholder="description" th:field="*{description}">
		          </div>
		          <div class= "form-row mb-3">
			          <label class = "form-label">Prix*</label>
			          <input class = "form-control" type="text" placeholder="Prix" th:field="*{price}">
			           <p class="alert alert-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Nom</p>
		          </div>
		          
		          
			              <div class= "form-row mb-3">
			              
					          <label class = "form-label">Categorie</label>
					          <select class= "form-select selectpicker" th:field="*{categorie}" >
					          
					                   <option th:each="categorie: ${categories}" th:value= "${categorie.id}"
					                            th:text="${categorie.nom}">
					                    </option>
					          </select>
					          
				          </div>
		          
		         
		              <button type="submit" class="btn btn-primary">Envoyer</button>
		              <a th:href="@{/produit/list}"  type="submit" class="btn btn-danger">Annuler</a>
		          </form>
		   
			</div>
		</body>
</html>