<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name ="viewport" content ="width=device-width, initial-scale=1, shrink-to-fit=no" >
</head>
<body>
	<nav th:fragment="topnav" class="navbar navbar-inverse navbar-fiexed-top navbar-dark bg-dark">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Systeme 3 Roches</a>
			</div>
			<form method="post" action="">
				<button class="btn btn-link pull-right navbar-brand" type="submit">Déconnexion</button>
			</form>
		</div>
	</nav>
</body>
</html>